######################## NOTE #########################
#*   This file describes the default HBP settings    *#
#*   !!   Uncommented variables are required   !!    *#
#######################################################

################## General Settings ###################
## Required: Hasura GraphQL endpoint
## Example: http://your-hasura-server.com/v1/graphql
HASURA_ENDPOINT=

## Required: Hasura admin secret
HASURA_GRAPHQL_ADMIN_SECRET=
## Port that HBP will listen on
# PORT=3000

## A string or array used for signing cookies (optional)
# COOKIE_SECRET=

######################### JWT #########################
## Hasura JWT secret key. Should be a string value.
## Optional if algorithm is RSA and HBP automatically generates a key
JWT_KEY=
## Possible values: RS256, RS384, RS512, HS256, HS384, HS512
# JWT_ALGORITHM='HS256'

## Hasura claims namespace
# JWT_CLAIMS_NAMESPACE='https://hasura.io/jwt/claims'

## JWT expiration period, in minutes
# JWT_EXPIRES_IN=15

## JWT refresh token expiration period, in minutes
# JWT_REFRESH_EXPIRES_IN=43200


################### Limiter options ###################
# MAX_REQUESTS=100
# TIME_FRAME=900000

###################### Accounts #######################
# DEFAULT_USER_ROLE='user',
# DEFAULT_ANONYMOUS_ROLE='user'

###################### Database #######################
# POSTGRES_URI=